.mat-dialog-title{
    background-color: #022E57;
    font-weight: medium;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
 }
 .heading{
    font-size: 28px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   font-weight: bold;
   letter-spacing: 2px;
   word-spacing: 2px;
 }

 .transfer{
   margin-top: 2rem;
}

.details{
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
}

.image{
   margin-left: 3rem;
   margin-bottom: 1rem;
}

.cont{
   font-size: 48px;
   text-align: center;
   margin-top: 1rem;
   margin-left: 2rem;
   
}

.prod{
      
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 0rem;
   font-size: 20px;
   font-weight: bold;
   margin-top: 1rem;
   letter-spacing: 1px;
   word-spacing: 1px;


}
.prod1{
      
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 18rem;
   font-size: 20px;
   font-weight: bold;
   margin-top: 2rem;
   letter-spacing: 1px;
   word-spacing: 1px;


}

.add{
   height: 270px;
}

