/* ----------------------------------------------------------------------------------------------------------------------- */
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
}

.logo img {
  width: 200px;
  margin-bottom: 50px;
}

.mat-icon {
  vertical-align: center;
  margin-right: 1rem;
}

.mat-list-item {
  color: white !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
