<!-- -------------------------------------------------------------------------------------------------------------------- -->
<mat-nav-list>
  <!-- logo for the website -->
  <div class="logo py-4">
    <img src="../../assets/icons/SwapKaro (5)2.png" alt="Company Logo" />
  </div>
  <a mat-list-item routerLink="/"> <mat-icon>home</mat-icon> Home </a>
  <a mat-list-item routerLink="/header/postproduct">
    <mat-icon>edit</mat-icon> Post Product
  </a>
  <a mat-list-item routerLink="/header/products">
    <mat-icon>dashboard</mat-icon> Products
  </a>
  <a mat-list-item routerLink="/header/suggestions">
    <mat-icon>extension</mat-icon> Suggestions
  </a>
  <a mat-list-item routerLink="/header/orderhistory">
    <mat-icon> list_alt</mat-icon> Orders
  </a>
</mat-nav-list>
<!-- -------------------------------------------------------------------------------------------------------------------- -->
