
<mat-dialog-content>
    <div>
      <h2 class="heading">Available Barter Coins: &nbsp; {{availableBarterCoin}} &nbsp; <img
          src="assets\image\availableCoins.jpg" alt="" width="30px" height="30px" /> </h2>
    </div>
    <div>
      <mat-form-field fxFlex="100%" appearance="outline">
        <mat-label>Account Holder Name</mat-label>
        <input matInput required [(ngModel)]="holderName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="100%" appearance="outline">
        <mat-label>Card Number</mat-label>
        <input matInput required [(ngModel)]="cardNo">
      </mat-form-field>
    </div>
    <div fxLayoutGap="2%">
      <mat-form-field fxFlex="49%" appearance="outline">
        <mat-label>Expiry Month</mat-label>
        <input matInput required [(ngModel)]="expiry">
      </mat-form-field>
      <mat-form-field fxFlex="49%" appearance="outline">
        <mat-label>CVV</mat-label>
        <input matInput required [(ngModel)]="cvv">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="100%" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput required [(ngModel)]="amount">
      </mat-form-field>
    </div>
  </mat-dialog-content>
    <button (click)="withdrawal()" >Withdraw</button>
 