
.chat-header {
  display: flex;
  width: 80vw;
  height: 3rem;
  background-color: darkcyan;
  color: white;
  justify-content: center;
  align-items: center;
}

.chat-app-name {
  font-weight: 400;
  width: 96%;
  margin: 3px 10px;
}

.close-icon {
  font-weight: 100;
  width: 4%;
  text-align: right;
  padding-right: 10px;
}

.chat-body {
  width: 80vw;
  height: 70vh;
  background-color: gray;
}
.ng-star-inserted{
  height: 88%;
}
#message-container{
  height: auto;
}
.side-container {
  width: 100%;
  height: 95%;
  border: 1px solid #555;
}

.search-bar {
  display: flex;
  padding: 3px;
  justify-content: center;
}

.buyers-list {
  display: flex;
  flex-flow: column wrap;
  /* width: 30%; */
}

.user-features {
  width: 100%;
  height: 18%;
}

.owner-detail {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: 70%;
}

.user-detail:hover {
  background-color: whitesmoke;
}

.contact-list {
  width: 100%;
  height: 82%;
}

.user-detail {
  display: flex;
  align-items: center;
  width: 100%;
  height: 13%;
  padding: 5px;
  border-bottom: 1px solid gray;
  background-color: beige;
  color: black;
}

.img-container {
  margin-right: 10px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.user-name {
  margin: 0;
  font-weight: 500;
  color: black;
}

.last-message {
  color: black;
}

/* message body */

.messages {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
  /* scroll-behavior: auto; */
}
.message-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding: 5px;
  background-color: rgb(70, 68, 68);
}

.message-input {
  width: 93%;
  border-radius: 20px;
  padding: 5px 15px;
  outline: none;
  /* height: 90px; */
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkcyan;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  margin: auto;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.messages div{
  display: flex;
  flex-direction: column;
}
.messages div p{
  margin-top: 0.2rem;
 
  /* border: 2px solid red; */
}
.messages div p span{
  
  padding: 0.4rem;
  border-radius: 0.7rem; 
}

.user-message-box{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.mat-dialog-content {
  display: block;
  width: auto;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 86%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.mat-drawer-inner-container{
  overflow: hidden auto;
}