<div>
  <h1 mat-dialog-title>Payment Mode: Barter Trading
    <img src="assets\image\bt1.png" alt="" height="40px" width="60px" />
    <i style="font-size: 24px" class="fa close-icon" style="float: right; cursor: pointer;"
      (click)="closeDialog()">&#xf00d;</i>
  </h1>
</div>
<mat-card class="container" fxLayout="row">
  <div fxFlex="50%">
    <div style="padding-top:72.000%;position:relative;"><iframe src="https://gifer.com/embed/7lBz" width="100%"
        height="80%" style='position:absolute;top:0;left:0;' allowFullScreen></iframe></div>
  </div>
  <div class="ProductID" fxFlex="50%">
    <div class="prod">
      Exchange With
    </div>
    <div class="pro">
      Product ID: &nbsp;PROD{{productId}}
      <br>
      <br>
      Product: &nbsp; {{productName}}
    </div>
    <!-- <mat-form-field class="container" appearance="fill">
      <mat-label>Product ID</mat-label>
      <span matPrefix>PD &nbsp;</span>
      <input type="number" matInput placeholder="1234">
      <mat-hint>Product You Want To Trade With </mat-hint>
    </mat-form-field> -->
    <div>
      <mat-form-field style="margin-left: 10px" fxFlex="70%" appearance="outline">
        <mat-label>Product Id</mat-label>
        <mat-select [(ngModel)]="selected" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let p of getProduct" [value]="p">{{p}}</mat-option>

        </mat-select>
        <mat-hint>Product You Want To Trade With </mat-hint>
        <mat-error>Product Id is required</mat-error>
      </mat-form-field>
    </div>
  </div>
</mat-card>
<div class="button">
  <button mat-raised-button color="primary" matTooltip="Trade"
    (click)="onTrade('You have exchanged your item successfully','Dissmiss')" style=" float:right; margin-top: 1.5rem; height:45px; width: 200px; font-size: 18px; font-family: 'Lucida Sans'
    , 'Lucida Sans Regular' , 'Lucida Grande' , 'Lucida Sans Unicode' , Geneva, Verdana, sans-serif; letter-spacing:
    1px;">Trade</button>
</div>